* {margin: 0;
padding: 0;}

.banner-container{
  background-image: url('https://placehold.co/1920x1080/CE2829/818182');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  

  width: 100%;
  height: 100vh;
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#asd {
  font-size: 200px;
  font-style: italic;
  text-align: end;
}


.banner-container h2 {
  font-family:"Londrina Solid";
  font-size: 275%;
  font-weight:800;
  padding: 40px 0 ;
  letter-spacing: 1px;
}

.banner-container p {
  font-family: "Satisfy" ;
  font-size: 165%;
  color: #FDC913;
}

.banner-container h1 {
  font-family:"Roboto Condensed";
  font-weight: 320;
  font-size: 450%;
  letter-spacing: 1.5px;
}
.banner-container button {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 80%;
  background: #FDC913;
  padding: 15px 56px;
  border-radius: 100px;
  border: none;
}

/* .satisfy-regular { italic el yazısı
  font-family: "Satisfy", system-ui;
  font-weight: 400;
  font-style: normal;
}
  .roboto-condensed-<uniquifier> {
  font-family: "Roboto Condensed", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  .quattrocento-regular {
  font-family: "Quattrocento", system-ui;
  font-weight: 400;
  font-style: normal;
}
  .barlow-regular {
  font-family: "Barlow", system-ui;
  font-weight: 400;
  font-style: normal;
}
  .londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/

.menu-nav-bar {
  background: white;
  
}
.menu-nav-bar ul {
  padding: 20px 0 ;
  font-family: 'Barlow';
  font-weight: 600;
  color: #1f1f1f;
  text-shadow:  0px 5px 5px rgb(129, 129, 129);
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.menu-nav-bar ul li {
  margin: 0 30px;
}
.menu-nav-bar ul li img {
  margin-right: 15px;
  vertical-align: middle;
}
